<!--footer-->
<footer class="footertop">
  <div class="container">

    <div class="row">

      <!-- column left start -->
      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled ">
          <li class="footer_menu">
            <h1 class="footer-title">Partners</h1>
            <ul class="list-unstyled ">
              <li>
                <a href="www.amazon.com">Amazon</a>
              </li>
              <li>
                <a href="http://www.penguin.com/">Penguin</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- column middle end -->

      <!-- column middle start -->
      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled ">
          <li class="footer_menu">
            <h1 class="footer-title">Resources</h1>
            <ul class="list-unstyled ">
              <li>
                <a href="#">Site Map</a>
              </li>
              <li>
                <a href="#">News Release</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- column middle end -->

      <!-- column right start -->
      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled ">
          <li class="footer_menu">
            <h1 class="footer-title">About Me
            </h1>
            <p>
              <!-- <%= image_tag("wechat.png") %>  lihui159590 -->
              <i class="fa fa-wechat"></i> lihui159590
                <i class="fa fa-slack"></i> lh850718
            </p>
            <p>
              <%= image_tag("logdown.png") %>
              <a href="http://lihui-blog.logdown.com">http://lihui-blog.logdown.com</a>
            </p>


          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer-bottom-->

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="copyright text-center">
        © 2017, Li Hui, All rights reserved
      </div>
                  <div class="col-xs-1 col-xs-offset-11 text-right goodjob">
                    <a href="https://fullstack.xinshengdaxue.com/works/288" target="_blank"><%= image_tag("thumbs-up.png") %></a>
                  </div>
    </div>
  </div>
</div>
